@import "@/styles/variable.scss";

#report {
    padding: 33px;

    span {
        color: #C3C9D0;
    }

    .table-box {
        margin: 100px 0;

        .table-stule {
            margin-bottom: 10px;

            span {
                color: #C3C9D0;
                font-size: 16px;
            }

            &.success {
                span {
                    color: $color-success;
                }
            }

            &.error {
                span {
                    color: $color-error;
                }
            }

            &.warn {
                span {
                    color: $color-warn;
                }
            }
        }
    }

    .v-title {
        display: inline-block;
    }

    .block-item {
        width: 20px;
        height: 15px;
        line-height: 20px;
        text-align: center;
        display: inline-block;
        margin-right: 6px;
        margin-left: 36px;
        display: inline-block;

        &.success {
            background-color: $color-success;
        }

        &.error {
            background-color: $color-error;
        }

        &.warn {
            background-color: $color-warn;
        }
    }
}

#report /deep/ {
    .el-col {
        // background-color: #f00;

        &:nth-child(even) {
            // background-color: #00f;
        }
    }
}