@import "@/styles/variable.scss";

.char-b {
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }


    .row {
        div {
            height: 243px;
        }
    }

    .border {
        border: 1px dashed rgba(1, 173, 255, 0.5);
        padding: 15px;
        padding-top: 25px;
    }

}

.char-b /deep/ {}