@media print {

    .head-box,
    .menu-box {
        display: none;
    }

    .view-box {
        max-width: 100vh;
    }
}

.default {
    display: flex;

    .menu-box {
        width: 170px;
        height: 100vh;
    }

    .view-box {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100vh;

        .head-box {
            background-color: #fff;
            height: 60px;
        }

        .content-box {
            flex: 1;
            overflow: auto;

            .nuxt {}
        }

        .footer-box {
            height: 40px;
            background-color: #ffffff;
        }
    }


}